* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

html,
body {
    height: 100%;
}


/* Começo da Página index */

#topo {
    width: 100%;
    height: 50px;
    background-color: rgb(01, 22, 69);
    color: rgb(130, 162, 237);
}

#topo h1 {
    float: left;
    margin: 4px 12px;
    color: white;
}

#topo h1:hover {
    cursor: pointer;
    text-shadow: 1px 3px 4px rgb(130, 162, 237);
}

#topo ul {
    display: inline;
    float: right;
    text-decoration: none;
}

#topo ul li {
    font-size: 16px;
    float: left;
    margin: 8px 12px;
    list-style: none;
}

#topo ul li a {
    text-decoration: none;
    color: rgb(130, 162, 237);
}

#main {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(imagens/not2.jpg)
}

#main h2 {
    text-align: center;
    color: rgb(01, 22, 69);
    padding-top: 50px;
}

#main p {
    color: rgb(01, 22, 69);
    font-size: 16px;
    text-align: center;
}

#rodape {
    width: 100%;
    height: 70px;
    color: rgb(130, 162, 237);
    background-color: rgb(01, 22, 69);
}

#rodape p {
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
}


/*Fim da estilização da página index  */


/* Começo da página Projetos */

#main-projetos {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(imagens/not2.jpg);
}

#main-projetos table {
    width: 90%;
    text-align: center;
    padding-left: 10%;
    padding-top: 100px;
}

#main-projetos tr td {
    color: black;
    font-weight: bold;
}

#main-projetos tr td a {
    text-decoration: none;
    color: black;
}

#main-projetos tr td a:hover {
    color: darkred;
}

#main-projetos tr {
    background-color: rgb(130, 162, 237);
    opacity: .9;
}

#main-projetos th {
    font-size: 48px;
    padding: 20px;
    color: rgb(130, 162, 237);
    background-color: rgb(01, 22, 69);
}

#main-projetos td {
    font-size: 32px;
    padding: 20px;
    color: rgb(01, 22, 69);
}


/* Fim estilazação da página Projetos */


/* Começo da página Sociais */

#main-sociais {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(imagens/not2.jpg);
    opacity: .9;
}

#main-sociais img {
    padding-left: 15%;
    padding-top: 15%;
}


/* Fim da estilização da página Sociais */


/* Começo da página Quem Sou */

#main-quem {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgb(244, 245, 248);
}

#historia h2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#historia p {
    color: black;
    padding: 1%;
}


/* Fim das estilização da página Quem Sou */


/* Começo da página Cadastro */

#main-cadastro {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgb(244, 245, 248);
    position: relative;
}

#main-cadastro h1 {
    padding: 20px;
}

.form {
    display: block;
    text-align: center;
    padding: 20px;
}

.nome {
    display: block;
    text-align: center;
}

.msg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.btn input[type=submit] {
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: rgb(130, 162, 237);
    border: none;
    cursor: pointer;
    background: rgb(01, 22, 69);
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-120%, 120%);
}